html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    cursor: url('./images/pointer.png'), auto;
}

canvas {
    width: 100%;
    height: auto;
    background: #111;
}

#valentinesButton {
    display: none;
    position: absolute;
    background-color: #2d2dff;
    border: 2px solid #2d2dff;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 10px;
    top: calc(50% + 150px); /* Adjust based on canvas height and text position */
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  #valentinesButton:hover {
    background-color: #1f1faa;
    color: #eee;
}
video {
    position: absolute; /* Щоб ми могли рухати його поверх всього */
    top: 50%;           /* Центр по вертикалі */
    left: 50%;          /* Центр по горизонталі */
    transform: translate(-50%, -50%); /* Точне центрування */
    
    z-index: 1000;      /* ВАЖЛИВО: це піднімає відео над чорним фоном canvas */
    
    width: 80%;         /* Ширина відео (можна міняти) */
    max-width: 600px;   /* Максимальна ширина, щоб не було гігантським на ПК */
    border-radius: 15px; /* Красиві кути */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Трішки світіння */
}